body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image/fon.jpeg'); /* Путь к изображению заднего фона */
    background-size: cover;
    z-index: -1;
}

.counter-container {
    text-align: center;
}

.custom-button {
    width: 50vmin; /* Ширина кнопки, относительно минимального измерения экрана */
    height: 50vmin; /* Высота кнопки, относительно минимального измерения экрана */
    max-width: 300px; /* Максимальная ширина кнопки */
    max-height: 300px; /* Максимальная высота кнопки */
    background-image: url('image/1254_oooo\,plus-photoaidcom-cropped.png'); /* Путь к изображению кнопки */
    background-size: cover;
    cursor: pointer;
    border-radius: 50%; /* Делаем кнопку круглой */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    outline: none; /* Убираем контур при фокусе */
}

.custom-button:hover {
    transform: scale(1.1); /* Увеличение кнопки при наведении */
}

.custom-button:active {
    transform: scale(0.9); /* Уменьшение кнопки при нажатии */
    box-shadow: none; /* Убираем тень при активации */
}

.custom-button.mining {
    animation: heartbeat 1s infinite; /* Применяем анимацию сердцебиения */
}

@keyframes heartbeat {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

#topCounter, #bottomCounter {
    font-size: min(8vw, 48px); /* Размер шрифта, адаптивный по отношению к ширине экрана */
    color: white;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для счетчика */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    .custom-button {
        width: 80vmin; /* Увеличиваем размер кнопки на маленьких экранах */
        height: 80vmin;
    }
}
